[Unit]
Description=this is a silly weather service

[Service]
Type=simple
ExecStart=/home/vagrant/week11/wttr_script
WorkingDirectory=/home/vagrant/week11
Restart=on-failure

[Install]
WantedBy=multi-user.target
